/* reset */

html, body, ul, ul li, 
h1, h2, h3, h4, p, .section {
	padding:0;
	margin:0;
}

/* text */

body, textarea, input {
	font-size:1em;
	line-height:1.4em;
	font-family: 'Merriweather', serif;
}
h2, h3, header, input[type=submit], .highlight {
	font-family: 'PT Sans', sans-serif;
	font-weight:700;
}
.home header ul {
	margin-top:4.8em;
}
.inner header ul {
	margin-top:1.4em;
}
header ul li a {
	padding:1.1em 0 1.1em 1.1em;
}
header ul li a:hover {
	color:#66affb;
}
header ul li a, h2 {
	text-transform:uppercase;
}
footer ul li a {
	padding:0 0.4em 0 0.4em;
}
.tags {
	font-style:italic;
	color:#666;
}
.about p, header ul li a {
	font-size:1.1em;
}
h2 {
	border-top:2px solid #66affb;
}
footer {
	font-size:0.9em;
	border-top:1px solid #000;
	padding:0.6em 0 0.8em 0;
}
h3 {
	font-size:1.4em;
}
.about p.highlight {
	padding-left:0.4em;
	font-size:1.5em;
}
.about p.highlight, .inner h2 {
	color:#a81933;
}
.about {
	line-height:1.5em;
}
h4 {
	padding:0 0 0.6em 0.6em;
	border-bottom:1px solid #66affb;
}
h3 {
	padding:0.8em 0 0.6em 0.4em;
	border-top:2px solid #66affb;
}
h2 {
	padding:0.6em 0 0.6em 0.3em;
	font-size:1.4em;
	line-height:1.1em;
}
p {
	padding:0 0 0.6em 0.6em;
}
.tags {
	padding:0.4em 0 0.6em 0.6em;
}
.content ul {
	list-style-type:square;
	margin:0.8em 0;
}
.content ul li {
	padding:0.2em;
}
.content ul li {
	margin:0 0 0.2em 1.3em;
}
a {
	text-decoration:none;
	color:#000;
}
p a, .content li a {
	border-bottom:1px solid #a81933;
}
h2.full {
	border-top:1px solid #a81933;
}
p a:hover, .content li a:hover, footer a:hover {
	background:#66affb;
}
.content h3 a {
	border-bottom:none;
}
.content h3 a:hover {
	color:#66affb;
	background:none;
}

/* layout: grid system adapted from http://www.responsivegridsystem.com/ */

.section, .group:after, .clear {
	clear: both;
}
.container {
	margin: 0 auto;
}
.logo {
	float:left;
	margin-left:6%;
}
.inner .logo {
	height:80px;
}
header {
	border-bottom:1px solid #000;
	background:#fff;
	position:fixed;
	top:0;
	left:0;
}
header ul li, footer ul li {
	display:inline;
}
.col, header ul li a {
	float:left;
}
header ul, footer ul li a {
	float:right;
}
.col, header ul li a, footer ul li a {
	display:block;
}
.about {
	margin-bottom:1.6em;
	margin-top:7em;
}
.home .about {
	margin-top:10em;
}
.contact, footer {
	margin-top:2em;
}
.work {
	padding-bottom:2em;
}
.group:before, .group:after {
    content:"";
    display:table;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.col {
	margin: 1% 0 1% 2.4%;
}
.col:first-child { 
	margin-left: 0; /* all browsers except IE6 and lower */
} 

	/* widths */

	.col img {
		max-width:100%;
	}
	.container {
		width:90%;
		max-width:1300px;
	}
	.span_12_of_12, header {
		width: 100%;
	}
	.span_9_of_12 {
		width: 74.4%;
	}
	.span_8_of_12 {
		width: 65.86%;
	}
	.span_6_of_12 {
		width: 48.8%; 
	}
	.span_5_of_12 {
	  	width: 40.26%;
	}
	.span_4_of_12 {
		width: 31.73%; 
	}
	.span_3_of_12 {
		width: 23.2%;
	}

/* responsive */

@media only screen and (max-width: 1024px) {
	.works {
		width: 100%;
		margin:0;
	}
	footer ul li {
		display:block;
		text-align:right;
		padding:0.4em;
	}
	footer ul li a {
		float:none;
		display:inline;
		padding:0;
	}
	.logo {
		margin-left:5%;
	}
	/* Inner pages */
	.work .span_3_of_12 {
		width: 47.8%; 
		min-height:460px;
	}
	.col:nth-child(3) { 
		margin-left: 0;
	} 
}

@media only screen and (max-width: 600px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_12_of_12, .span_9_of_12, .span_8_of_12, .span_6_of_12,
	.span_5_of_12, .span_4_of_12, .span_3_of_12, .works, .work .col {
		width: 100%; 
	}
	footer .span_6_of_12 {
		width: 48.8%; 
	}
	h2 {
		text-align:right;
	}
	h3 {
		padding-top:0.4em;
	}
	h3 {
		border:none;
	}
	.logo {
		margin-left:2%;
		height:80px;
	}
	.home header ul {
		margin-top:1.4em;
	}
	.work {
		border-bottom:none;
	}
	.work .col {
		padding:0.8em 0;
	}
	.tags {
		padding-bottom:1.1em;
	}
}